@media all and (max-width: 700px){

	.site-container{
		width: 100vw;
		min-height: calc(100vh - 40px);
		margin: 0;
		left: 0;
	}

	.topper-log{
		display: block;
	}
	.topper-right{
		display: none;
		box-sizing: border-box;
		position: absolute;
		left: 0;
		top: 70px;
		padding: 20px;
		padding-left: 0;
		width: 100vw;
		background-color: rgba(41, 128, 185,1.0);
		max-height: 0;
		transition: all ease .3s;
	}
	.topper-btn-reverse{
		background-color: rgba(52, 152, 219,1.0);
		border: solid 2px rgba(52, 152, 219,1.0);
	}
	.topper-btn-reverse:focus, .topper-btn-reverse:hover{
		background-color: rgba(52, 152, 219,0.8);
		border: solid 2px rgba(52, 152, 219,0.8);
	}
	.toppered{
		display: block;
		max-height: 100px;
	}
	.menu-submit{
		width: 170px;
		border-radius: 0px;
	}
	.menu-input{
		width: calc((100vw - 170px));
	}
	.menu-price{
		display: none;
	}

	/* Form */

	.form{
		width: 100%;
		margin-top: 0;
		min-height: calc(100vh - 349px);
	}
	.sh-input-inline{
		width: 100%;
		margin: 0;
		margin-bottom: 10px;
	}
	.sh-input-inline-2{
		width: 100%;
		margin: 0;
		margin-bottom: 10px;
	}
	.sh-input{
		width: 100%;
		margin: 0;
		margin-bottom: 10px;
	}
	.sh-submit{
		width: 100%;
		margin: 0;
	}
	.error{
		width: 100%;
	}
	[type="checkbox"]:not(:checked),
	[type="checkbox"]:checked {
		position: absolute;
		left: -9999px;
	}
	[type="checkbox"]:not(:checked) + label,
	[type="checkbox"]:checked + label {
		position: relative;
		padding-left: 75px;
		cursor: pointer;
	}
	[type="checkbox"]:not(:checked) + label:before,
	[type="checkbox"]:checked + label:before,
	[type="checkbox"]:not(:checked) + label:after,
	[type="checkbox"]:checked + label:after {
		content: '';
		position: absolute;
	}
	[type="checkbox"]:not(:checked) + label:before,
	[type="checkbox"]:checked + label:before {
		left:0; top: 10px;
		width: 96%; height: 30px;
		background: #DDDDDD;
		border-radius: 15px;
		-webkit-transition: background-color .2s;
		-moz-transition: background-color .2s;
		-ms-transition: background-color .2s;
		transition: background-color .2s;
	}
	[type="checkbox"]:not(:checked) + label:after,
	[type="checkbox"]:checked + label:after {
		width: 20px; height: 20px;
		-webkit-transition: all .2s;
		-moz-transition: all .2s;
		-ms-transition: all .2s;
		transition: all .2s;
		border-radius: 50%;
		background: #7F8C9A;
		top: 15px; left: 7px;
	}

	/* on checked */
	[type="checkbox"]:checked + label:before {
		background:rgba(52, 152, 219,1.0); 
	}
	[type="checkbox"]:checked + label:after {
		background: #fff;
		top: 15px; left: calc(100% - 30px);
	}

	[type="checkbox"]:checked + label .ui,
	[type="checkbox"]:not(:checked) + label .ui:before,
	[type="checkbox"]:checked + label .ui:after {
		position: absolute;
		left: 8px;
		top: 16px;
		border-radius: 15px;
		font-size: 14px;
		font-weight: bold;
		line-height: 22px;
		-webkit-transition: all .2s;
		-moz-transition: all .2s;
		-ms-transition: all .2s;
		transition: all .2s;
	}
	[type="checkbox"]:not(:checked) + label .ui:before {
		width: 0;
		content: "";
		left: -10px;
	}
	[type="checkbox"]:checked + label .ui:after {
		width: 0;
		content: "";
		left: -15px;
		top: 0px;
		color: #fff;
	}
	[type="checkbox"]:focus + label:before {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
	}
	.phoned{
		display: none;
	}

}