@media all and (max-width: 600px) and (min-width: 401px){
	.topper-log{
		display: block;
	}
	.topper-right{
		display: none;
		box-sizing: border-box;
		position: absolute;
		left: 0;
		top: 70px;
		padding: 20px;
		padding-left: 0;
		width: 100vw;
		background-color: rgba(41, 128, 185,1.0);
		max-height: 0;
		transition: all ease .3s;
	}
	.topper-btn-reverse{
		background-color: rgba(52, 152, 219,1.0);
		border: solid 2px rgba(52, 152, 219,1.0);
	}
	.topper-btn-reverse:focus, .topper-btn-reverse:hover{
		background-color: rgba(52, 152, 219,0.8);
		border: solid 2px rgba(52, 152, 219,0.8);
	}
	.toppered{
		display: block;
		max-height: 100px;
	}
	.menu-submit{
		width: 170px;
		border-radius: 0px;
	}
	.menu-input{
		width: calc((100vw - 170px));
	}
	.menu-price{
		display: none;
	}
	.details-slider{
		max-width: 100%;
		height: auto !important;
	}
	.details-slided{
		max-width: 100%;
		height: auto !important;
	}
}
@media all and (max-width: 400px){
	.topper-log{
		display: block;
	}
	.topper-right{
		display: none;
		box-sizing: border-box;
		position: absolute;
		left: 0;
		top: 70px;
		padding: 20px;
		padding-left: 0;
		width: 100vw;
		background-color: rgba(41, 128, 185,1.0);
		max-height: 0;
		transition: all ease .3s;
	}
	.topper-btn-reverse{
		background-color: rgba(52, 152, 219,1.0);
		border: solid 2px rgba(52, 152, 219,1.0);
	}
	.topper-btn-reverse:focus, .topper-btn-reverse:hover{
		background-color: rgba(52, 152, 219,0.8);
		border: solid 2px rgba(52, 152, 219,0.8);
	}
	.toppered{
		display: block;
		max-height: 100px;
	}
	.menu-submit{
		width: 170px;
		border-radius: 0px;
	}
	.menu-input{
		width: calc((100vw - 170px));
	}
	.menu-price{
		display: none;
	}
	.progress{
		width: 130px;
	}
	.details-slider{
		max-width: 100%;
		height: auto !important;
	}
	.details-slided{
		max-width: 100%;
		height: auto !important;
	}

}